main {
  display: flex;
  flex-direction: column;
}
section {
  align-items: flex-start;
}
.h1_exhibition_spaces {
  max-width: 100%;
}
h2 {
  font-size: 1.5rem;
  width: 100%;
  margin-bottom: 20px;
}
p {
  padding: 10px 20px;
}
.exhibition_spaces_container {
  flex-direction: column;
  gap: 40px;
}
.h_background {
  background-color: var(--light_silver);
  height: 60px;
  text-align: center;
}
.h1_background {
  height: 100px;
}
main img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
