@media only screen and (min-width: 999px) {
  .nav_desktop {
    display: flex;
  }
  .nav_mobile {
    display: none;
  }

  .splash_text {
    gap: 40px;
  }
  .explore_together {
    width: 100%;
  }
  .explore_together img {
    max-width: 600px;
  }
  .explore_together_text {
    max-width: 600px;
  }
  .visit {
    width: 100%;
    background-color: var(--light_gray);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  }
  .visit img {
    width: 300px;
    border-radius: 4px;
  }
  .visit_flex_container {
    flex-direction: row;
    gap: 100px;
    width: 100%;
    background-color: var(--light_silver);
  }
  .h1_background {
    margin-top: 20px;
  }
  .explore_flex {
    gap: 80px;
  }
  .exhibition_spaces,
  .get_involved {
    padding: 80px 0px;
  }
  .exhibition_spaces_flex {
    gap: 40px;
  }

  .special_events_container {
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
  }
  .special_events_flex {
    height: 800px;
    justify-content: flex-start;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  }
  .special_events {
    max-width: 1200px;
  }
  .get_involved {
    width: 100%;
    gap: 60px;
  }
  .get_involved_flex {
    width: 500px;
    height: 850px;
    justify-content: flex-start;
    padding-bottom: 20px;
  }
  .get_involved_cta {
    height: 100%;
    display: flex;
    align-items: flex-end;
  }
  .get_involved_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 40px;
    justify-content: center;
  }

  .special_events img,
  .get_involved img {
    height: 300px;
  }
  footer {
    gap: 40px;
  }
  .footer_flex {
    flex-direction: row;
    gap: 80px;
  }
  .footer_bottom {
    align-items: center;
  }
  /* Explore.html */
  /* Explore.html */
  /* Explore.html */

  .explore_container {
    width: 880px;
    border: 16px solid var(--light_silver);
    gap: 0px;
    margin-top: 20px;
  }

  /* Exhibition-spaces.html */
  /* Exhibition-spaces.html */
  /* Exhibition-spaces.html */

  .exhibition_spaces_container {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 40px 0px;
    max-width: 1600px;
  }

  .exhibition_spaces_container section {
    width: 500px;
    height: 800px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  }

  /* Visit.html */
  /* Visit.html */
  /* Visit.html */

  .visit_desktop,
  .visit_desktop2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 20px 0px;
    max-width: 1200px;
  }
  .book_tour,
  .location {
    max-width: 1200px;
  }
  .location {
    gap: 20px;
  }
  .visit_desktop section {
    width: 100%;
    margin: 0;
    align-items: flex-start;
    border: 4px solid var(--light_silver);
  }
  .visit_desktop2 section {
    width: 100%;
    height: 300px;
    margin: 0;
    align-items: flex-start;
    border: 4px solid var(--light_silver);
  }
  .form_flex {
    flex-direction: row;
    gap: 80px;
  }
  textarea {
    width: 100%;
  }
}
