img {
  width: 200px;
  height: 100%;
}
/*DELETE*/
/*DELETE*/
/*DELETE*/

:root {
  --blue: #2f9df6;
  --dark_blue: #257bc2;
  --light_blue: #79bef7;

  --silver: #d8d8d8;
  --dark_silver: #a1a8b2;
  --light_silver: #bdcade;

  --green: #3fa652;

  --black: #0e0e0e;
  --white: #f6f3ef;
  --light_gray: #eeeeee;

  --light_black: rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: rubik, "Times New Roman", Times, serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}
h2 {
  font-size: 2.25rem;
  font-weight: 800;
}
h3 {
  font-size: 1.5rem;
  font-weight: 800;
}
p,
label {
  font-family: space grotesk, "Times New Roman", Times, serif;
  font-size: 1rem;
}

body {
  width: 100%;
  margin: 0px;
  background-color: var(--white);
}
body > * {
  width: 320px;
  margin: auto;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  background-color: var(--green);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: rubik, "Times New Roman", Times, serif;
  text-decoration: none;
  color: var(--white);
  border-radius: 4px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.25);
}

/* Splash */
/* Splash */
/* Splash */

.splash {
  background-image: url(/images/splash1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.splash_text {
  color: var(--white);
  position: relative;
  top: 40%;
  font-size: 1.125rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.splash_bottom_text {
  color: var(--white);
  position: relative;
  bottom: 100%;
  left: 50%;
}

/* Explore Together */
/* Explore Together */
/* Explore Together */

.explore_together {
  background-color: var(--black);
  color: var(--white);
}

/* Visit */
/* Visit */
/* Visit */

.visit {
  background-color: var(--light_silver);
}

/* Explore */
/* Explore */
/* Explore */

.explore {
}

.explore div {
  border: 7px solid var(--silver);
  margin: 20px;
}

/* Exhibition Spaces */
/* Exhibition Spaces */
/* Exhibition Spaces */

.exhibition_spaces {
  background-color: var(--light_gray);
}

/* Special Events */
/* Special Events */
/* Special Events */

.special_events {
}
.special_events_closes {
  background-color: var(--silver);
}

/* Get Involvd */
/* Get Involvd */
/* Get Involvd */

.get_involved {
  background-color: var(--light_gray);
}
.get_involved h3 {
  background-color: var(--light_silver);
}

.to_the_top {
  background-color: var(--light_gray);
}
/* Footer */
/* Footer */
/* Footer */

footer {
  background-color: var(--dark_silver);
}
.footer_name {
  background-color: var(--light_blue);
}
